/* ---- File: wms-frontend/src/app/features/admin/uom-setup/uom-dialog/uom-dialog.component.scss [NEW FILE] ---- */

.dialog-title {
  display: flex;
  align-items: center;
  gap: 8px;
}

.edit-form {
  min-width: 400px;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

button mat-icon + span, button mat-progress-spinner + span {
    margin-left: 8px;
}
