.spinner-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.option-layout {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.license-plate {
  font-weight: 500;
}

.start-time {
  font-size: 0.85rem;
  color: var(--mat-sys-on-surface-variant);
}
